main section {
    margin-left: 5rem;
    margin-top: 5rem;
}

.card>img {
    width: 210px;
    height: 150px;
    margin-bottom: 0.5rem;
}

.user-defined-pool {
    display: flex;
    flex-direction: column;
}

.user-defined-pool-sm-1, .user-defined-pool-sm-2, .user-defined-pool-sm-3 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.text {
    padding-left: 15rem;
    font-size: 28px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container>p {
    text-align: center;
}

.card {
    border: 5px solid red;
}