/* Navbar */
/* The sidebar menu */
.side-nav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 8rem; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(34, 63, 63); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    display: flex; /* space evenly the text */
    flex-direction: column;
    justify-content: space-evenly;
}

/* The navigation menu links */
.side-nav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color: #cfcfcf;
    display: block;
}

/* font size and family for navigation bar */
.side-nav a{
    font-size: 28px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* the background color */
body{
    background-color: #B8D8D8;
}




/* When you mouse over the navigation links, change their color */
.side-nav a:hover {
    color: #f1f1f1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .side-nav {padding-top: 15px;}
    .side-nav a {font-size: 16px;}
}


/* body of calendar*/
main section {
    margin-left: 8rem; /* adjust the content based on navigation bar */
    margin-top: 2.5rem;
}

/* adjust the image size */
.card img {
    width: 210px;
    height: 150px;
}

/* each card view displayed with flex */
.card {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;

}

/* every event like meet up with tim!*/
.tim, .cse351, .info340, .info340-group, .math381, .sam, .marc, .dogpaws, .lenora {
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 150px;
    background-size: 210px 150px;
    background-repeat: no-repeat;
    border: solid rgb(102, 62, 62) 2px;
}

/* upload with tim's image */
.tim {
    background-image: url(../img/tim.png);
}

/* upload with cse351 image*/
.cse351 {
    background-image: url(../img/cse351.jpg);
}

.info340 {
    background-image: url(../img/info340.png);
}

.info340-group {
    background-image: url(../img/Info340-group.jpg);
}

.math381 {
    background-image: url(../img/math381.png);
}

.sam {
    background-image: url(../img/sam.png);
}

.marc {
    background-image: url(../img/marc.png);
}

.dogpaws {
    background-image: url(../img/dogpaws.jpeg);
}

.lenora {
    background-image: url(../img/7lenora.png);
}

/* the schedule time*/
.time {
    width: 210px;
    height: 30px;
    background-color: white;
    border: solid rgb(34, 63, 63) 2px;
    text-align: center;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.text{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 32px;
}
/* the event name like cse351! */
.content {
    width: 900px;
    height: 150px;
    align-self: center;
    background-color: white;
    padding-left: 1.5rem;
    border: solid rgb(102, 62, 62) 2px;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* the big flex pool, put all small flex swimmers inside! */
.user-defined-pool {
    display: flex;
    flex-direction: column;
}

/* small swimming pools with card swimmers inside */
.user-defined-pool-sm-1, .user-defined-pool-sm-2, .user-defined-pool-sm-3 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 2rem;
}

.welcome-title {
    font-size: 30px;
    font-weight: 300;
    line-height: 150%;
    margin-bottom: 20px;
    margin-left: 1rem;
}
.welcome-title strong {
    font-weight: 500;
}
.welcome-person {
    font-size: 26px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.subtitle {
    font-size: 32px;
    margin-bottom: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}